@import 'tailwindcss';

@theme {
  --color-brand: #01948e;
  --color-brand-secondary: #e88b27;
}

@layer base {
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}
